NODE_ENV=development
PORT=4100
HOST=0.0.0.0
PUBLIC_API_URL=http://192.168.85.235:4100
SQL_SERVER=localhost
SQL_PORT=1433
SQL_DATABASE=PosInvMssql
SQL_USER=sa
SQL_PASSWORD=YourStrong!Passw0rd
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=8h
CORS_ORIGIN=*
